<section>
  <h2>New Photo</h2>
</section>

<div class="card shadow picture-container">
  <div class="card-body">

    <figure class="figure">
      <div class="text-center">
        <img [src]="photo.imageData" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
      </div>
      <figcaption *ngIf="photo.captureDate" class="figure-caption text-right">captured {{ photo.captureDate |
        date:'dd/MM/yyyy HH:mm:ss'}}</figcaption>
    </figure>

    <div class="row">
      <input *ngIf="photo.captureDate" type="text"  [(ngModel)]="photo.description" class="form-control" placeholder="Description">
    </div>
  </div>
</div>

<div class="row vs-0-5" [class.float-right]="!isMobile">
  <div class="col-12">
    <button *ngIf="!photo.captureDate" class="btn btn-success" [class.btn-block]="isMobile" (click)="takePhoto()">
      Take photo
    </button>
    <button *ngIf="photo.captureDate" class="btn btn-warning" [class.ls-0-5]="!isMobile" [class.btn-block]="isMobile"
      (click)="takePhoto()">
      Change photo
    </button>
    <button *ngIf="photo.captureDate" class="btn btn-primary" [class.btn-block]="isMobile" (click)="savePhoto()">
      Save photo
    </button>
  </div>
</div>
