<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow">
  <a class="navbar-brand" href="#">RBM Ng PWA</a>
  
  <button class="navbar-toggler" type="button" (click)="showMenu = !showMenu"  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [class.show]="showMenu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="goTo('')">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="goTo('photos')">Photos <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
